@media (max-width: 1410px) {
  .hide {
    display: none;
  }
}
@media (min-width: 1100px) {
  .search-form {
    width: 50vw !important;
  }
}
@media (max-width: 1099px) {
  .search-form {
    width: 40vw !important;
  }
  .card {
    width: 100%;
    height: auto !important;
  }
  .card img {
    object-fit: contain;
    width: 120px;
    height: 120px;
  }
  .card-title {
    width: 120px;
    height: 20px;
    font-size: 14px;
  }
  .card-text {
    font-size: 14px;
    font-weight: bold;
  }
  .ad_mobile {
    height: 510px !important;
  }
}
@media (max-width: 900px) {
  .search-form {
    width: 30vw !important;
  }
  .card {
    width: 100%;
    height: auto !important;
  }
  .card img {
    object-fit: contain;
    width: 100px;
    height: 100px;
  }
  .card-title {
    width: 100px;
    height: 20px;
    font-size: 12px;
  }
  .card-text {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .topheader {
    margin: 0;
    font-size: 14px !important;
  }

  .nav-item img {
    width: 18px;
    height: 18px;
  }

  .navbar-nav {
    gap: 0px !important;
  }

  #logo {
    width: 100px;
  }

  .bottomheader img {
    width: 44px;
    height: 44px;
  }

  .card img {
    object-fit: contain;
    width: 100px !important;
    height: 100px !important;
  }

  .card-title_mobile {
    font-size: 12px !important;
    width: 40vw !important;
  }
  .card-text {
    font-size: 12px !important;
    font-weight: bold;
  }
}

@media (max-width: 970px) {
  header {
    width: 100vw !important;
  }
}
@media (max-width: 768px) {
  .card {
    width: 100%;
    height: auto !important;
    margin-left: -40vw;
  }
  .card img {
    object-fit: contain;
    width: 120px;
    height: 120px;
  }
  .card-title {
    height: 20px;
    font-size: 18px;
  }
  .card-text {
    font-size: 18px;
    font-weight: bold;
  }
  .carousel-inner img {
    height: 15vh;
  }
}
